<!DOCTYPE html>

<html>

<head>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>

    <title>title</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td>Beskrivning</td>
                            <td>Antal</td>
                            <td>Kostnad</td>
                            <td>Moms</td>
                            <td>Totalt</td>
                        </tr>
                        <tr>
                            <td>En rad</td>
                            <td>10.00</td>
                            <td>300 SEK</td>
                            <td>25 %</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Totalt:</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            faktura
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            delbetala
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            kort
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            direktbank
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="height: 250px">
                        <div class="panel-body">
                            Här kan man injecta saker som gör att man kan speca allt som behövs för en betalning.
                            
                            T.ex personnummer eller annat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
