<!DOCTYPE html>

<html lang="en">
    <head>
        <title>title</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td>Beskrivning</td>
                            <td>Antal</td>
                            <td>Kostnad</td>
                            <td>Moms</td>
                        </tr>
                         <tr>
                            <td>En rad</td>
                            <td>10.00</td>
                            <td>300 SEK</td>
                             <td>25 %</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>